.toolbar
    span.information
        pre.informationText
            | 100.00% | 0 x 0
        input(
            id='zoomInput'
            name='zoomInput'
            min='10'
            max='250'
            step='1'
            type='range'
            value='100'
            disabled=true
        )
